# ignore .env file for environment variables
.env

# ignore voter data files
data-processing/wake_county/*.csv
data-processing/wake_county/*.txt
data-processing/wake_upload.csv

# ignore firebase admin sdk key
voter-reg-api/secrets/firebase-adminsdk.json

voter-reg-api/upload-data/wake_upload.csv
voter-reg-api/database.py
voter-reg-api/secrets/firebase_config.json
